<div ng-controller="stockController" id="stock_table">
	<div class="panel panel-default">
		<div class="panel-head">
			<form class="form">
				<div class="form-group col-md-6">
					<label>Stock ID</label>
					<input  class="form-control" type="text" ng-model="stock.id">
				</div>
				<div >
					<button class="btn btn-primary" ng-click="search()">Search</button>
				</div>
			</form>
		</div>
		<div class="panel-body">
			<table class="table table-stripped">
				<tr>
					<th>Stock ID</th>
					<th>Stock Name</th>
					<th>Price</th>
					<th>Change</th>
					<th>%Change</th>
				</tr>
				<tr ng-repeat="stock in stocksArray">
					<td>{{stock.id}}</td>
					<td>{{stock.name}}</td>
					<td>{{stock.price}}</td>
					<td>
						<b ng-if="stock.change>0" style="color:green">{{stock.change}}</b>
						<b ng-if="stock.change<0" style="color:red">{{stock.change}}</b>
						<b ng-if="stock.change==0" style="color:black">{{stock.change}}</b>
					</td>
					<td>
						<b ng-if="stock.pchange.indexOf('-')>-1" style="color:green">{{stock.pchange}}</b>
						<b ng-if="stock.pchange.indexOf('+')>-1" style="color:red">{{stock.pchange}}</b>
						<b ng-if="stock.pchange.indexOf('0')==0" style="color:black">{{stock.pchange}}</b>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<script src="js/app.js"></script>
