<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Trading System Forgot Password</title>
<script src = "js/angular.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-ui-router.min.js"></script>
<link rel="stylesheet" href="css/main.css" text="text/css"/>
<script>
	var app = angular.module("mainApp", ["ngRoute"]);
	app.config('$routeProvider', '$locationProvider', function($routeProvider, $locationProvider){
		$routeProvider.when('/confirmation', {
			templateUrl: "WEB-INF/pages/confirmation.jsp",
			controller: "mainCtrl"
		});
	});
	
	app.controller("mainCtrl", function(){
		$scope.data = {
			email : null
		}
		$scope.go = function(path) {
			$location.path(path);
		}
		$scope.recoveraccount = function(){
			$http({
				url : "/recoveraccount",
				method: "POST",
			}).then(function(response){
				$scope.stocks = response.data.email;
			})
		}
	})

/*
	var app = angular.module("mainApp",["ui.router"]);
	app.config(function($stateProvider, $location) {
		$stateProvider
			.state("state1", {
				url: "/forgot",
				templateUrl: "WEB-INF/pages/confirmation.jsp",
				controller: function($scope) {
					$scope.email = ""
				}
			});
	});
	
	app.controller("mainCtrl", function($scope, $http){
		$scope.data = {
			email : null
		}
		
		$scope.recoveraccount = function(path){
			$location.path(path);
			$http.get("/recoveracount", {params: $scope.data})
			.then(function(response){
				$scope.data = response.data.email;
			})
		};
	});
*/
</script>
</head>


<body ng-app="mainApp">
<div ng-controller="mainCtrl">
	<h1>Recover Account</h1>
	<hr>
	<h2>Email Address</h2>
	<input type="text" ng-model="email" placeholder="Email Address"/>
	
	<a href="confirmation">Recover Account</a>
	<p>
		<button ng-click="go('/confirmation)"></button>
	</p>
</div>
	
</body>
</html>