@CHARSET "ISO-8859-1";

 body {
      position: relative;  
      backgroud-img:url(icon/back.jpg);
      width: 100%; /* Set width to 100% */
      margin: auto;
  }

  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }
  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }
 
  #marketdata {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #transaction {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #history {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #search{padding-top:50px;height:500px;color: #fff; background-color: #009688;}
.top {
    position: relative;
    background-color: #ffffff;
    height: 68px;
    width:100%;
    padding-top: 20px;
    line-height: 50px;
    overflow: hidden;
    z-index: 1;
}


.header-right {
    float: right !important;
}
.text-wide {
	font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 2px;
}
 .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      /* background-color: #2d2d30; */
      border: 0;
      font-size: 11px !important;
      letter-spacing: 1px;
      opacity: 0.9;
  }


.nav-font{
	font-size: 20px;
	font-color: gray;
	text-transform: uppercase;
}

 .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }


.cart {
    text-transform: uppercase;
    display: inline-block;
    font-size: 11px !important;
    line-height: 1.875rem;
    color: #00ff00;
    letter-spacing: .05em;
    width:30%;
    position: relative; 
}
	

#cartCount {
    font-family: blenderbold,Verdana,sans-serif;
    font-weight: lighter;
    font-size: 11px;
}

.rtop_btn {
    width: 60px;
    height: 60px;
	display: block;
    position: fixed;
    z-index: 5;
    right: 60px;
    bottom: 60px;
}
}
body .rtop_btn .toplink .totop{
    display: inline-block;
    overflow: hidden;
	width: 20%;

	position: fixed;
	right: 20px;
	bottom: 20px;

 }
#content{
	margin-top:0;
}
.footer{
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 50px;
    background-color: #222;
	clear:both; 
}
.bg-4 { 
      background-color: #222; /* Black Gray */
      color: #fff;
      clear:both; 
  }


.social-follow {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
    text-align: left;
}
.follow {
    font-family: blenderbold,Verdana,sans-serif;
    font-weight: lighter;
    font-size:20px;
    display: block;
    text-transform: uppercase;
    color: #b1aca1;
    letter-spacing: .05em;
}

.footer .social-follow .social-icons {
    width: 100%;
    display: block;
    padding: 0;
    margin-top: 10px;
}

.twitter {

    background-position: center left !important;
    background-repeat: no-repeat;
    background-size: contain !important;
    overflow: hidden; 
    display: inline-block;
    height: 66px;
    width: 60px;
}
.facebook {
    background-position: center left !important;
    background-repeat: no-repeat;
    background-size: contain !important;
    overflow: hidden;
    display: inline-block; 
    height: 66px;
    width: 60px;
}
.instagram {
	 background-position: center left !important;
    background-repeat: no-repeat;
    background-size: contain !important;
    overflow: hidden;
    display: inline-block; 
    height: 66px;
    width: 60px;
}
.contact {
    font-family: blenderbold,Verdana,sans-serif;
    font-weight: lighter;
    font-size:20px;
    display: block;
    text-transform: uppercase;
    color: #b1aca1;
    letter-spacing: .05em;
}
.carousel-inner img {
      /* -webkit-filter: grayscale(90%); */
      /* filter: grayscale(90%); make all photos black and white  */
      width: 100%; /* Set width to 100% */
      height: 500px;
      margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
	#register-form lable{
	    font-color: black;
	}

/* .cd-top.cd-is-visible {
  the button becomes visible
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  if the user keeps scrolling down, the button is out of focus and becomes less visible
  opacity: .5;
} */
/* div {
    display: block;
} */